.bs-icon {
  --bs-icon-size: .75rem;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  font-size: var(--bs-icon-size);
  width: calc(var(--bs-icon-size) * 2);
  height: calc(var(--bs-icon-size) * 2);
  color: var(--bs-primary);
}

.bs-icon-xs {
  --bs-icon-size: 1rem;
  width: calc(var(--bs-icon-size) * 1.5);
  height: calc(var(--bs-icon-size) * 1.5);
}

.bs-icon-sm {
  --bs-icon-size: 1rem;
}

.bs-icon-md {
  --bs-icon-size: 1.5rem;
}

.bs-icon-lg {
  --bs-icon-size: 2rem;
}

.bs-icon-xl {
  --bs-icon-size: 2.5rem;
}

.bs-icon.bs-icon-primary {
  color: var(--bs-white);
  background: var(--bs-primary);
}

.bs-icon.bs-icon-primary-light {
  color: var(--bs-primary);
  background: rgba(var(--bs-primary-rgb), .2);
}

.bs-icon.bs-icon-semi-white {
  color: var(--bs-primary);
  background: rgba(255, 255, 255, .5);
}

.bs-icon.bs-icon-rounded {
  border-radius: .5rem;
}

.bs-icon.bs-icon-circle {
  border-radius: 50%;
}

.titulo-inicio {
  font-weight: bold;
  color: #f2f2f2;
}

#div-hero-index {
  font-family: Alata, sans-serif;
  margin-top: 10px;
}

#div-hero-categoria {
  font-family: Alata, sans-serif;
  margin-top: 10px;
}

#div-hero-producto {
  font-family: Alata, sans-serif;
  margin-top: 10px;
}

.navbar {
  font-family: Alata, sans-serif;
  background: #595D3F!important;
}

.subtitulo-inicio {
  color: #f2f2f2;
}

.btn-inicio {
  background: #D19426;
  border-style: none;
}

.btn-inicio:hover {
  background: #BF459F;
}

#footer-container {
}

.link-navbar:hover {
  /*font-size: 17px;*/
  text-shadow: 1px 1px 2px;
  font-weight: bold;
  color: #3F152D!important;
}

#navbar-icono {
  font-weight: bold;
}

#sidebar {
  background: #595D3F;
  height: 74px;
}

.btn-navbar {
  background-color: #7A7D57!important;
  border-style: none;
  margin-right: 10px;
  color: var(--bs-navbar-brand-hover-color);
}

.btn-navbar:hover {
  background-color: #F1C442!important;
  border-style: none;
}

#offcanvas-menu {
  background-color: #595D3F!important;
  font-family: Alata, sans-serif;
  font-size: 16px;
  border-style: none;
}

hr {
  border-color: var(--bs-emphasis-color);
}

.icono {
}

.icono-menu {
  width: 25px;
  height: 25px;
}

.link-body-emphasis.boton-menu {
  display: flex;
}

.link-body-emphasis.boton-menu:hover {
  color: #f2f2f2!important;
  background: #F1C442;
  text-shadow: 1px 1px 1px var(--bs-emphasis-color);
}

.text-small {
  background-color: #595D3F;
  border-style: none;
}

.drop-item-usuario {
  color: rgb(0,0,0);
}

.drop-item-usuario:hover {
  background-color: #F1C442;
  color: var(--bs-dropdown-bg);
  text-shadow: 1px 1px 1px var(--bs-emphasis-color);
}

.tabla-categorias {
  font-family: Alata, sans-serif;
  text-align: center;
  border-style: none;
}

.btn-borrar {
}

.btn-editar {
}

.formulario {
  background: #7A7D57;
  width: 316px;
  padding: 20px;
  border-style: none;
  border-radius: 16px;
  font-family: Alata, sans-serif;
  font-weight: bold;
  color: var(--bs-emphasis-color);
  box-shadow: 3px 3px #595D3F;
}

.input-nombre {
  border-style: none;
}

.input-categoria {
  border-style: none;
}

.input-number {
  border-style: none;
}

#botones-formulario-categoria {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 16px;
}

#boton-cancelar {
  width: 45%;
  box-shadow: 3px 3px var(--bs-btn-hover-border-color);
}

#boton-envio {
  width: 45%;
  box-shadow: 3px 3px 0px var(--bs-btn-hover-border-color);
}

