<!DOCTYPE html>
<html data-bs-theme="light" lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Inventario</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alata&amp;display=swap">
    <link rel="stylesheet" href="/assets/css/aos.min.css">
    <link rel="stylesheet" href="/assets/css/Footer-Dark-icons.css">
    <link rel="stylesheet" href="/assets/css/Sidebar-Menu-1.css">
    <link rel="stylesheet" href="/assets/css/Sidebar-Menu-sidebar-1.css">
    <link rel="stylesheet" href="/assets/css/Sidebar-Menu-sidebar.css">
    <link rel="stylesheet" href="/assets/css/Sidebar-Menu.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>

<div th:fragment="lista_productos">
    <section id="inicio-producto">
        <div id="div-hero-producto">
            <div data-aos="fade-up" id="div-inicio-producto">
                <h1 class="titulo-inicio">Productos</h1>
                <h5 class="subtitulo-inicio">Aquí puedes visualizar los diferentes productos registrados:</h5>
            </div>
        </div>
        <div style="width: 50%;">
            <div class="table-responsive tabla-categorias" data-aos="fade-up" data-aos-delay="50">
                <table class="table table-striped table-dark table-sm table-bordered">
                    <thead>
                        <tr>
                            <th style="width: 62px;">ID</th>
                            <th>Nombre</th>
                            <th>Precio</th>
                            <th>Categoría</th>
                            <th style="width: 196px;">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="producto: ${listaProductos}">
                            <td th:text="${producto.id}">SAMPLE</td>
                            <td th:text="${producto.nombre}">SAMPLE</td>
                            <td th:text="${producto.precio}">SAMPLE</td>
                            <td th:text="${producto.categoria != null ? producto.categoria.nombre : 'N/A'}">>SAMPLE</td>
                            <td>
                                <div class="btn-group" role="group">
                                    <a th:href="@{/productos/editar/{id}(id=${producto.id})}" class="btn btn-warning btn-editar" type="button">Editar<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-pencil-square"><path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"></path><path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"></path>
                                    </svg></a>
                                    <form th:action="@{/productos/borrar/{id}(id=${producto.id})}" class="btn-group"  method="post">
                                        <button class="btn btn-danger btn-borrar" type="submit">Eliminar<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-trash3-fill"><path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"></path></svg>
                                        </button>
                                    </form>
                                    </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/aos.min.js"></script>
    <script src="/assets/js/bs-init.js"></script>
    <script src="/assets/js/Sidebar-Menu-sidebar.js"></script>
</div>

</html>