<!DOCTYPE html>
<html data-bs-theme="light" lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>navbar</title>
</head>

<div th:fragment="bg-index">
    <section id="inicio-index">
        <div id="div-hero-index">
            <div data-aos="fade-up" id="div-inicio-index">
                <h1 class="titulo-inicio">¡Bienvenido a Inventory!</h1>
                <h5 class="subtitulo-inicio">Ya iniciaste sesión, empieza a explorar las opciones desde el Menú.</h5>
            </div>
        </div>
    </section>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/aos.min.js"></script>
    <script src="/assets/js/bs-init.js"></script>
    <script src="/assets/js/navbarConMenu-Sidebar-Menu-sidebar.js"></script>
</div>

</html>