<!DOCTYPE html>
<html data-bs-theme="light" lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Inventario</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alata&amp;display=swap">
    <link rel="stylesheet" href="/assets/css/aos.min.css">
    <link rel="stylesheet" href="/assets/css/Footer-Dark-icons.css">
    <link rel="stylesheet" href="/assets/css/Sidebar-Menu-1.css">
    <link rel="stylesheet" href="/assets/css/Sidebar-Menu-sidebar-1.css">
    <link rel="stylesheet" href="/assets/css/Sidebar-Menu-sidebar.css">
    <link rel="stylesheet" href="/assets/css/Sidebar-Menu.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>

<div th:fragment="form_marca">
    <section id="inicio-marca">
        <div id="div-hero-marca">
            <div data-aos="fade-up" id="div-inicio-marca">
                <h1 class="titulo-inicio">[[${marca.id ne null ? 'Editar Marca' : 'Nueva Marca'}]]</h1>
                <h5 class="subtitulo-inicio">[[${marca.id ne null ? 'Editar y guardar la marca' : 'Aquí puedes crear y agregar una nueva marca'}]]</h5>
            </div>
        </div>
        <div data-aos="fade-up" data-aos-delay="50" class="formulario">
            <form th:action="@{/marcas/guardar}" th:object="${marca}" method="post">
                <input type="hidden" th:field="*{id}" />
                <label class="form-label" style="font-size: 20px;">Nombre de la Marca:&nbsp;</label>
                <input class="form-control input-nombre" type="text" th:field="*{nombre}" />
                <label class="form-label" style="font-size: 20px;">Categoría/s de la Marca:&nbsp;</label>

                <div th:each="categoria : ${listaCategorias}">
                    <input type="checkbox" th:id="'categoria_' + ${categoria.id}" th:name="categorias" th:value="${categoria.id}" th:checked="${marca.categorias.contains(categoria)}" />
                    <label th:for="'categoria_' + ${categoria.id}" th:text="${categoria.nombre}"></label><br />
                </div>

                <div id="botones-formulario-categoria">
                    <button th:href="@{/marcas}" class="btn btn-secondary" id="boton-cancelar" type="reset">Cancelar</button>
                    <button class="btn btn-success" id="boton-envio" type="submit">Guardar</button></div>
            </form>
        </div>
    </section>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/aos.min.js"></script>
    <script src="/assets/js/bs-init.js"></script>
    <script src="/assets/js/Sidebar-Menu-sidebar.js"></script>
</div>

</html>