<!DOCTYPE html>
<html data-bs-theme="light" lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Inventario</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alata&amp;display=swap">
    <link rel="stylesheet" href="/assets/css/aos.min.css">
    <link rel="stylesheet" href="/assets/css/Footer-Dark-icons.css">
    <link rel="stylesheet" href="/assets/css/Sidebar-Menu-1.css">
    <link rel="stylesheet" href="/assets/css/Sidebar-Menu-sidebar-1.css">
    <link rel="stylesheet" href="/assets/css/Sidebar-Menu-sidebar.css">
    <link rel="stylesheet" href="/assets/css/Sidebar-Menu.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>

<div th:fragment="form_usuarios">
    <section id="inicio-usuario">
        <div id="div-hero-usuario">
            <div data-aos="fade-up" id="div-inicio-usuario">
                <h1 class="titulo-inicio">Nuevo Usuario</h1>
                <h5 class="subtitulo-inicio">Aquí puedes registrar un nuevo usuario</h5>
            </div>
        </div>
        <div data-aos="fade-up" data-aos-delay="50" class="formulario">
            <form th:action="@{/usuarios/guardar}" th:object="${usuario}">

                <label class="form-label" style="font-size: 20px;">E-mail:&nbsp;</label>
                <input class="form-control input-nombre" type="email" th:field="*{email}">

                <label class="form-label" style="font-size: 20px;">Contraseña:&nbsp;</label>
                <input class="form-control input-number" type="password" th:field="*{password}" >

                <label class="form-label" style="font-size: 20px;">Roles del Usuario:</label>
                <div th:each="rol : ${listaRoles}">
                    <input type="checkbox" th:name="roles" th:value="${rol.id}" th:checked="${usuario.roles.contains(rol)}" />
                    <label th:text="${rol.nombre}"></label><br />
                </div>

                <div id="botones-formulario-categoria">
                    <button class="btn btn-secondary" id="boton-cancelar" type="reset">Cancelar</button>
                    <button class="btn btn-success" id="boton-envio" type="submit">Guardar</button></div>
            </form>

        </div>
    </section>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/aos.min.js"></script>
    <script src="/assets/js/bs-init.js"></script>
    <script src="/assets/js/Sidebar-Menu-sidebar.js"></script>
</div>

</html>